
@{
    ViewBag.Title = "ShowData";

}

<h2>ShowData</h2>
<h3><span>Tên : </span>@TempData["Name"]</h3>
<h3><span>Tuổi : </span>@TempData["Age"]</h3>
<h3><span>Địa chỉ : </span>@TempData["Address"]</h3>
